html {
}

body {
	background-color: #fff;
    color: #2e3436;
    font-family: sans-serif;
    font-size: 12px;
	margin: 0 auto;
    width: 100%;
}

h1 {
    background: transparent url('/images/header.png') top left repeat-x;
    height: 79px;
	margin: 0;
	padding: 0;
}
h1 a {
	background: transparent url('/images/logo.png') top left no-repeat;
	display: block;
	height: 79px;
    text-indent: -9999px;
	width: 195px;
}

h2, h3, h4, h5, h6 {
    color: #555753;
    clear: both;
}
h2 {
	font-size: 1.6em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1.1em;
}

p {
    color: #2e3436;
	font-family: sans-serif;
	font-size: 1.1em;
    text-align: justify;
}

a {
	color: #437610;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

img {
	border: none;
}

div#content {
	margin: 40px 25px 10px 25px;
	padding: 0px;
	width:675px;
}
div#info {
    color: #eeeeec;
    font-size: 10px;
    font-style: italic;
    position: absolute;
    right: 25px;
    top: 25px;
}
div#info a {
    color: #eeeeec;
    font-weight: bold;
}
div.footer {
	clear: both;
	margin: 10px;

	text-align: center;
	font-size: 10px;
}

/* Forms */

fieldset {
}

label {
	display: block;
	width: 150px;
	text-align: right;
	clear: both;
	float: left;
	padding: 1px 5px 1px 1px;
}

input,
textarea {
	width: 440px;
	float: none;
	float: right;

	border: 1px solid #555753;
	background-color: #ffffff;
}

input[type="submit"] {
	width: 200px;

	border: 1px solid #555753;
	background-color: #ffffff;
}

input[name="url"] {
	/* Catching spam bots */
	display: none;
}

/* Navigation */
ul.navigation {
	background: transparent url('/images/tab-panel.png') top left repeat-x;
	border-top: 1px solid #babdb6;
	height: 20px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul.navigation li {
    float: left;
    list-style-type: none;
    padding-left: 0;
}

ul.navigation li a {
    border-right: 1px solid #babdb6;
    color: #eeeeec;
	display: block;
	font-size: 0.9em;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
    width: 100px;
}

ul.navigation li.requested a,
ul.navigation li a:hover {
	background: transparent url('/images/tab-active.png') top left repeat-x;
}

ul.navigation li ul {
	/*border-bottom: 1px solid #EEEEEC;*/
	left: 0;
	padding-left: 10px;
	position: absolute;
	width: 675px;
}
ul.navigation li ul li {
	display: none;
}
ul.navigation li.requested ul li {
	display: block;
}
ul.navigation li.requested ul li a {
	background: none !important;
	border-color: #EEEEEC;
	border-style: solid;
	border-width: 0 0 0 1px;
	color: #555753;
	margin: 10px 0 10px 0;
	padding: 0 15px;
	text-decoration: none;
	width: auto;
}
ul.navigation li.requested ul li:first-child a {
	border-left: 0;
}
ul.navigation li.requested ul li a:hover,
ul.navigation li.requested ul li.requested a {
	text-decoration: underline;
}

/* Search box */

div#search {
	margin: 2px;
	padding: 5px 0px;

	width: 165px;
	clear: left;
	float: left;
}

div#search h2 {
	margin: 0px 0px 5px 0px;
	font-size: 14px;
}

div#search form {
	margin: 10px;
	padding: 0px;
}

div#search fieldset {
	border: 1px solid #555753;
	background-color: #ffffff;

	margin: 0px;
	padding: 0px;

	width: 125px;
}

div#search label,
div#search legend {
	display: none;
}

div#search input {
	float: none;
	border: none;
}

div#search input#search_phrase {
	width: 105px;
}

div#search input[type=submit] {
	width: 15px;
	height: 18px;

	text-indent: 100px;
	overflow: hidden;

	background-image: url( "/images/search.png" );
	background-repeat: no-repeat;
	background-position: 0px 2px;
}

/* Search result */

ul.search {
	padding: 0px 0px 0px 30px;
	margin: 0px;

	list-style-type: circle;
}

ul.search li {
	margin: 10px 0px;
	border-bottom: 1px solid #d3d7cf;
}

ul.search li span.comment {
	display: block;
	padding: 0px 2px;

	text-align: right;
	text-decoration: none;
}

ul.search li h3 {
	margin: 0px 0px 3px 0px;
	font-size: 14px;
}

ul.search li h4 {
	margin: 0px 0px 3px 0px;
	font-size: 10px;
	font-weight: normal;
	color: #555753;
}

/* Formats */

div#formats {
	color: #babdb6;
	font-size: 10px;
	line-height: 20px;
	position: absolute;
	right: 25px;
	top: 80px;
}

div#formats a {
	color: #eeeeec;
}

/* Changelog */

div#info {
	cursor: help;
	font-weight: normal;
}

div#info ul {
	display: none;
}

div#info:hover ul {
	display: block;

	position: absolute;
	left: -300px;
	width: 400px;

	list-style-type: circle;
	margin: 0px;
	padding: 2px 2px 2px 15px;

	border: 1px solid #555753;
	font-size: 10px;

	background-color: #ffffff;
}

#changelog ul li {
	margin: 1px 0px;
	padding: 0px;
}

#changelog ul li p {
	margin: 1px 0px;
	padding: 0px;
}

/* Content */

h2 {
	margin: 10px 0px 10px 0px;
}

div.image {
	float: right;
	margin: 0px 0px 12px 12px;
	padding: 1px 2px;
	border: 1px solid #babdb6;
	font-size: 10px;
	color: #babdb6;
}

div.content p {
	text-align: justify;
}

div.image img {
	display: block;
	margin: 0px 0px 1px 0px;
}

div.toc {
	background-color: #fff;
    border: 1px solid #babdb6;
    font-size: 12px;
    font-weight: bold;
    left: 705px;
	margin: 0 0 5px 5px;
	min-width: 150px;
	padding: 5px 10px;
	position: absolute;
	text-align: center;
}

div.toc ul {
	list-style-type: none;
	margin: 0px;
	padding: 5px 0 0 0;
	text-align: left;
}

div.toc ul li {
	margin: 0;
	padding: 1px;
}

div.toc ul li ul {
	padding: 0 0 0 12px;
}

div.toc p {
    font-size: 11px;
    font-weight: normal;
	margin: 0;
    padding: 0;
}

code {
    background-color: #eeeeef;
    display: block;
    padding: 5px;
	white-space: pre;
}

span.scroll {
	display: block;
	clear: both;

	text-align: center;
}

span.scroll a {
	text-decoration: none;
}

/* Blog */

ul.blog {
	padding: 0px;
	margin: 0px;

	list-style-type: none;
}

ul.blog li {
	margin: 10px 0px;
	border-bottom: 1px solid #babdb6;
}

ul.blog li span.comment {
	display: block;
	padding: 0px 2px;

	font-size: 10px;
	text-align: right;
	text-decoration: none;
}

ul.blog li a {
	display: block;
	text-decoration: none;
}

ul.blog li a:hover {
	background-color: #eeeeef;
}

ul.blog li a h3 {
	margin: 0px 0px 3px 0px;
	font-size: 14px;
}

ul.blog li a:hover h3 {
	background-color: #d3d7cf;
}

ul.blog li a h4 {
	margin: 0px 0px 3px 0px;
	font-size: 12px;
	font-weight: normal;
	color: #555753;
}

ul.comments {
	padding: 0px 20px;
	margin: 0px;

	list-style-type: none;
}

ul.comments li {
	margin: 5px;
	border: 1px solid #babdb6;
	padding: 2px;
}

ul.comments li h4 {
	margin: 0px 0px 2px 0px;
	padding: 0px;

	font-size: 12px;
	font-weight: normal;
	color: #555753;
}

ul.comments li p {
	margin: 0px;
	padding: 0px;

	font-style: italic;
}

ul.comments li a.permalink {
	display: block;
	padding: 0px 2px;

	font-size: 10px;
	text-align: right;
	text-decoration: none;
}



/* Gallery */

ul.gallery {
        padding: 0px;
        margin: 0px;
}

ul.gallery li {
    border: 1px solid #437610;
        float: left;
        display: block;
        margin: 5px;
}

ul.gallery li h3,
ul.gallery li h4 {
        display: none;
}

dl.gallery dt {
        width: 150px;
        float: left;
        clear: left;

        font-weight: bold;
}

dl.gallery dd {
/*        float: left;*/
}

img.full {
        margin: 5px auto;
        clear: both;
}

